{% extends 'boiler_plate.html' %}
{% load static %}

{% block title %}Home - Placement Cell{% endblock %}

{% block content %}
<!-- Hero Section -->
	<div class="hero pt-100 pb-100">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="hero__text">
						<div class="hero__vector">
						<img src=" {% static "img/animated-icon/graph.png" %} " alt="graph">

						<img src=" {% static "img/animated-icon/star-icon.png" %} " alt="graph">
						</div>
						<div class="hero__text--content relative">
							<h2>
							Explore Job Vaccancies and get <br> <img src="{% static "img/animated-icon/star.png" %}" alt="graph">
							Placed <span>with</span>-<em>Your Tech Skills</em>
							</h2>
							<div class="hero__video"   data-sal="slide-left"
							data-sal-delay="400"
							data-sal-easing="ease-out-back">
						</div>
					</div>

					<p>Your placement portal is often the first point of contact between students and recruiters. Expertly designed platforms can create a seamless,
						user-friendly experience that showcases student talent and
						helps recruiters find the perfect candidates.
					</p>
					<div class="hero__button">
						<a href="{% url "career" %}" class="rounded-btn">Explore Career<span><i
									class="fa-sharp fa-light fa-arrow-right-long"></i></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
				</div>

<!-- Stats Section -->


<!-- Services Section -->

{% endblock %}